body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 30px auto;
}

/* Mobile */
@media screen and (min-width: 480px) {
	.contianer {
		width: 100%;
		margin: 30px auto;
	}
}

