header {
	background-color: white;
	height: 70%;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

header .logo {
	background: url("../images/logo.png") no-repeat center;
	background-size: contain;
	padding-left: 20px;
	height: 60px;
	width: 120px;
}

